/* Fix dark mode code rendering */
.highlight pre {
  background-color: var(--td-pre-bg) !important;
}
/*

Add styles or override variables from the theme here.

*/

$primary:   #1b1b1b;   // deep almost-black, sleek header
$secondary: #3b53a2;   // your chosen accent, works for highlights/buttons

